<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.22/datatables.min.css"/>

    <title>Carousel Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/carousel.css" rel="stylesheet">
  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Turismo Real</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/departamentos">Departamentos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Promociones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Reservas</a>
            </li>
          </ul>
          <ul class="navbar-nav px-3">
	        <span th:if="${user != null}" th:text="'Hello, ' + ${user} + '!'" />
	      </ul>
          <ul  class="navbar-nav px-3">
	        <li th:if="${user != null}" class="nav-item text-nowrap">
	          <a class="nav-link" href="#" onclick="document.cookie='username=; expires=Thu, 01 Jan 1970 00:00:00 UTC';document.cookie='profile=; expires=Thu, 01 Jan 1970 00:00:00 UTC';location.reload()">Sign out</a>
	        </li>
	        <li th:unless="${user != null}" class="nav-item text-nowrap">
	          <a class="nav-link" href="/login">Sign in</a>
	        </li>
	      </ul>
	      
		      
        </div>
      </nav>
    </header>

    <main role="main">

      <div id="myCarousel" class="carousel slide" data-ride="carousel">
      	<table id='dtDeptos'>
      		<thead> 
      			<tr>
      				<th>Id</th>
      				<th>Nombre</th>
      				<th>Direccion</th>
      				<th>Ciudad</th>
      				<th>Region</th>
      				<th>Precio</th>
      			</tr> 
      		</thead>
      	</table>
      </div>

      <!-- FOOTER -->
      <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

	<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.22/datatables.min.js"></script>
    <script src="scripts/popper.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="scripts/holder.min.js"></script>
    <script defer src="scripts/deptos.js"></script>
  </body>
</html>

